NAV_K36.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/K36/4.0"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/K36/4.0">
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <element name="Doc_K36" type="tns:Doc_K36_Type" meta:metaType="DocMetaType">
      <annotation>
         <documentation>Az MRP (Munkavállalói Résztulajdonosi Program) szervezet adatszolgáltatása a magánszemély tulajdonába adott értékpapír adómentes természetbeni juttatás összegéről</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_K36A_0A0001D002A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="H"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_K36M_0A0001D001A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="H"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_K36M_0A0001D002A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="T"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_K36_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_K36A"
                  type="tns:Form_K36A_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>K36A részbizonylat</documentation>
            </annotation>
         </element>
         <element name="Form_K36M"
                  type="tns:Form_K36M_Type"
                  minOccurs="1"
                  maxOccurs="unbounded"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>K36M részbizonylat</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_K36A_Type">
      <annotation>
         <documentation>A teljes nyomtatvány K36A részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_K36A_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Azonosító adatok</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_K36A_120001_Type">
      <annotation>
         <documentation>Azonosító adatok</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120004"
                  type="tns:FieldGroup_K36A_120004_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adatszolgáltató adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120005"
                  type="tns:FieldGroup_K36A_120005_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Ügyintéző adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120006"
                  type="tns:FieldGroup_K36A_120006_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adatszolgáltatás jellemzői</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K36A_120004_Type">
      <annotation>
         <documentation>Adatszolgáltató adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószám (adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jogelőd adószáma (jogelod_adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Név (nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K36A_120005_Type">
      <annotation>
         <documentation>Ügyintéző adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C023A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Név (ugyintezo_neve)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C024A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Telefonszám (ugyintezo_telefonszama)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K36A_120006_Type">
      <annotation>
         <documentation>Adatszolgáltatás jellemzői</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Éve (adatszolg_eve)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="4"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D003A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Soron kívüli teljesítés jelölése (adatszolg_soron_kivul)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D002A"
                  minOccurs="0"
                  type="tns:Enum_K36A_0A0001D002A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jellege (adatszolg_jellege)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001C002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Hibásnak minősített adatszolgáltatás vonalkódja (vonalkod)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001D004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Az érintett magánszemélyek száma (maganszemelyek_szama)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="7"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <simpleType name="Enum_K36M_egyseges_titulus_1">
      <annotation>
         <documentation>Enum értékek egyseges_titulus mátrix 1. oszlopból.</documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="Dr."/>
         <enumeration value="Dr.Dr."/>
         <enumeration value="Id."/>
         <enumeration value="Id.Dr."/>
         <enumeration value="Ifj."/>
         <enumeration value="Ifj.Dr."/>
         <enumeration value="Özv."/>
         <enumeration value="Özv.Dr."/>
         <enumeration value="Prof."/>
         <enumeration value="Dr.Pr."/>
         <enumeration value="Pr.Dr."/>
         <enumeration value="Dr.Habil."/>
      </restriction>
   </simpleType>
   <complexType name="Form_K36M_Type">
      <annotation>
         <documentation>A teljes nyomtatvány K36M részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_K36M_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Magánszemélyenkénti összesítő</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_K36M_120001_Type">
      <annotation>
         <documentation>Magánszemélyenkénti összesítő</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_K36M_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Magánszemély adatai</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120005"
                  type="tns:FieldGroup_K36M_120005_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adatszolgáltatás jellege</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120006"
                  type="tns:FieldGroup_K36M_120006_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>A résztvevő tulajdonába adott értékpapír értékéből az adómentes juttatás összege</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120007"
                  type="tns:FieldGroup_K36M_120007_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Adatszolgáltató</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K36M_120002_Type">
      <annotation>
         <documentation>Magánszemély adatai</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adóazonosító jele (adoazonosito_jel)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C004A"
                  minOccurs="0"
                  type="tns:Enum_K36M_egyseges_titulus_1"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Titulusa (titulus)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001C005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Családi neve (vnev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Utóneve (knev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="40"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K36M_120005_Type">
      <annotation>
         <documentation>Adatszolgáltatás jellege</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001D001A"
                  minOccurs="0"
                  type="tns:Enum_K36M_0A0001D001A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jelölje "H" betűvel, ha az adatszolgáltatása adózói javításnak (helyesbítésnek) minősül! (helyesbites)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001D002A"
                  minOccurs="0"
                  type="tns:Enum_K36M_0A0001D002A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jelölje "T" betűvel, ha a magánszeméllyel kapcsolatosan adatszolgáltatási kötelezettség nem terhelte! (torles)</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K36M_120006_Type">
      <annotation>
         <documentation>A résztvevő tulajdonába adott értékpapír értékéből az adómentes juttatás összege</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001E001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>A résztvevő tulajdonába adott értékpapír értékéből az adómentes juttatás összege az adóévben (forintban) (osszeg)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_K36M_120007_Type">
      <annotation>
         <documentation>Adatszolgáltató</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001C001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(adatszolgaltato_adoszam)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001C002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(adatszolgaltato_nev)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
</schema>
